.Dashboard{
    flex: 5;
}

.DashboardTopCardContainer{
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.DashboardTopCardGraph{
    margin: 1% 1%;
    width: 13vw;
    height: 12vw;
    border-radius: 5%;
    -webkit-box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 1);
}

.DashboardTopCard{
    margin: 1% 1%;
    width: 13vw;
    height: 12vw;
    border-radius: 5%;
    -webkit-box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 1);
}

.DashboardTopCard:hover{
    margin: 0.5% 1%;
    width: 13vw;
    height: 12vw;
    background-color:  #b661e9;
    border-radius: 5%;
    -webkit-box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 1);
}

.DashboardTopCardIcon{
    margin-top: 30%;
    margin-left: 15%;
    font-size: 60px !important;
    color: rgba(255, 255, 255, 0.822);
}

.DashboardTopCardInfo > h1{
    margin-left: 5%;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.6);
}

.DashboardTopCardInfo > h3{
    margin-left: 5%;
    font-weight: 500;
    color: rgb(197, 197, 197);
}

.DashboardTopCardInfo > h4{
    margin-left: 5%;
    font-weight: 300;
    color: rgb(197, 197, 197);
}

.DashboardTopCard:hover .DashboardTopCardIcon{
    margin-top: 15%;
    margin-left: 15%;
    font-size: 70px !important;
    color: #1e202f;
}

.DashboardTopCard:hover .DashboardTopCardInfo > h1{
    margin-left: 5%;
    font-weight: 600;
    color: #1e202f;
}

.DashboardTopCard:hover .DashboardTopCardInfo > h3{
    margin-left: 5%;
    font-weight: 500;
    color: #1e202f;
}

.DashboardTopCard:hover .DashboardTopCardInfo > h4{
    margin-left: 5%;
    font-weight: 400;
    color: #1e202f;
}

.DashboardTopCardGraph > h3{
    font-weight: 500;
    color: rgb(197, 197, 197);
    margin-left: 5%;
    margin-top: 3%;
}

.DashboardTopCardGraph > h4{
    font-weight: 300;
    color: rgb(197, 197, 197);
    margin-left: 5%;
}

.DashboardBottomContainer{
    display: flex;
    flex-direction: row;
}

.DashboardGraphContainer{
    height: 40vh;
    -webkit-box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 1);
    padding: 2%;
    border-radius: 10px;
}

.DashboardBottomLeft{
    flex: 5;
    margin: 3% 1%;
    display: flex;
    flex-direction: column;
}

.DashboardBottomRight{
    flex: 4;
    margin: 3% 1%;
    height: 60vh;
}

.DashboardBottomBar{
    margin-top: 5%;
}

.DashboardImg{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.DashboardBottomBarItem{
    display: flex;
    flex-direction: row;
    -webkit-box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 1);
    padding: 2%;
    width: 100%;
    margin-right: 100%;
    margin-top: 2%;
}

.DashboardBottomBarLabelContainer{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.DashboardBottomBarLabelContainer > h3{
    color: rgb(197, 197, 197);
    font-weight: 600;
}

.DashboardBottomBarLabelContainer > h4{
    color: rgb(197, 197, 197);
    font-weight: 300;
}