.Home{
    flex: 5;
}

.MainChartContainer{
    display: flex;
    flex-direction: column;
    margin: 35px;
    -webkit-box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 1);
    border-radius: 10px;
}

.BottomChartsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}

.LeftChart{
    flex: 2;
}

.MiddleChart{
    flex: 2;
}

.RightChart{
    flex: 3;
}

