.Sidebar{
    background-color: aqua;
    height: calc(100vh - 70px);
    border-radius: 5px;  
    background: rgb(62,62,62);
    background: linear-gradient(-30deg, #7f00ff 12%, #e100ff 100%);  
    display: flex;
    flex-direction: column;
}

.ContainerTop{
    flex: 1;
}

.UserDetails{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
}

.Initials{
    flex: 1;
    margin-left: 30px;
    font-weight: 300;
    font-size: 25px;
    color: white;
}

.Heading{
    flex: 4;
    font-weight: 500;
    font-size: 25px;
    color: white;
}

.TopDivider{
    margin: 25px 15px;
    color: white;
    border-color: white;
}

.ContainerBottom{
    flex: 7;
}

.SidebarList {
    padding: 0px;
}

.SidebarListItem {
    padding: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-size: 15px;
}

.SidebarListItem.active,
.SidebarListItem:hover {
    color: rgb(236, 236, 252);
}

.SidebarText{
    font-size: 20px;
    font-weight: 300;
}

.SidebarIcon {
    margin-right: 15px;
    margin-left: 30px;
    font-size: 25px !important;
}