.Sidebar{
    height: calc(100vh - 90px);
    border-radius: 5px;  
    background: linear-gradient(-30deg, #b661e9 0%, #dd53ca 100%);  
    display: flex;
    flex-direction: column;
    opacity: 0.9;
    -webkit-box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 1);
    
}

.ContainerTop{
    flex: 1;
}

.UserDetails{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
}

.Initials{
    flex: 1;
    margin-left: 30px;
    font-weight: 300;
    font-size: 25px;
    color: white;
}

.Heading{
    flex: 4;
    font-weight: 500;
    font-size: 25px;
    color: white;
}

.TopDivider{
    margin: 25px 15px;
    color: white;
    border-color: white;
}

.ContainerBottom{
    flex: 7;
}

.SidebarList {
    padding: 0px;
}

.SidebarListItem {
    padding: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-size: 15px;
}

.SidebarListItem.active,
.SidebarListItem:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50px 0px 0px 50px;
    margin-left: 50px;
} 

.SidebarText{
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.SidebarIcon {
    color: white;
    margin-right: 15px;
    margin-left: 30px;
    font-size: 25px !important;
}

